body {
	background-color: #f0f0f0;
	text-align: center;
}

#container {
	width: 1280px;
	height: 720px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 50px;
}

#random {
	max-width: 100%;
	height: auto;
}

#imageButton {
	background-color: #0074d9;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#imageButton:hover {
	background-color: #0056a5;
}
